# Secrets
.env
service-account.json
client-secret.json

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/

# SQLite
*.db

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.venv2
